body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h7 {
  font-size: 0.85em;
  color: grey
}

img {
  max-width: 250px;
}

.container.question:hover {
  background-color: #f0f2f2;
}

header {
  background-color: #f8f9f9;
  box-shadow: -6px 0px white, 6px 0 white, 0 5px 3px -2px #e8e8e8;
}

.nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.block-content {
  max-width: 1200px;
  margin: 0 auto;
}

.questions-list {
 display: flex;
 justify-content: space-between;
}

.question {
  border-top: 1px #c9c8c8 solid;
  padding: 1em 0;
  display: inline-flex;
}

.question-info {
  width: 10%;
  font-size:0.85em;
}

.question-info-element  {
  margin: 1px 0;
}

.question-details {
  width: 88%;
}

.question-title {
  font-size: 1.25em;
  color: rgb(153, 153, 248);
  margin-bottom: 1px;
}

.question-title:hover {
  color: rgb(117, 117, 250);
  cursor: pointer;
}

.question-message {
  font-size: 1em;
  margin-top: 1px;
  margin-bottom: 10px;
}

.question-date {
  font-size: 0.8em;
  margin: 0;
  text-align: right;
}

.tag {
  display: inline-flex;
  margin: 0 1px;
  padding: 1px 2px;
  background-color: rgb(219, 218, 220);
  font-size: 0.9em;
}

.comment-message {
  font-style: italic;
  font-size: 0.8em;
}

.answer-data {
  font-size: 0.9em;
  text-align: right;
}

.form-txt {
  font-size: 1.25em;
  color: rgb(73, 73, 93);
  margin-bottom: 1px;
}

.form {
  margin: 0 25%;
}

ul {
  list-style-type: none;
  font-size: 1.3em;
  color: #777777
}