{% extends "layout.html" %}
{% block content %}
    
<div class="question-list question-txt">
        
    <form method="POST">
        <input type="hidden" name="question_id" value="{{question_id}}">
        <label for="tag">Choose an existing tag or provide a new one:</label><br/>
        
        <select name="tag">
            <option>Choose a tag</option>
            {% for tag in existing_tags %}
                <option value="{{tag['name']}}">{{tag['name']}}</option>
            {% endfor %}
        </select>

        <input type="text" name="new_tag" placeholder="or enter a new tag name." value="">
        <button action="submit">Select</button>
    </form>

</div>

{% endblock %}