{% extends "layout.html" %}
{% block content %}
<b class="comment-title-answer">DELETE COMMENT</b><br/><br/>
Submitted: {{comment.submission_time}}<br/>
Comment: {{comment.message}}<br/>
Are you sure? <br/>
<form action="/comments/{{comment_id}}/delete" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="comment_id" value="{{comment_id}}">
    <input type="hidden" name="id" value="{{id}}">
    

        <button class="btn btn-success btn-sm" type="submit">Yes</button>
        <span><a href="{{url_for('route_question', id = id)}}" class="btn btn-danger btn-sm" role="button">No</a></span>
        </form>

    </div>
{% endblock %}