{% extends "layout.html" %}
{% block content %}
    <b class="comment-title-answer">EDIT ANSWER</b><br/>
    <form action="/answer/{{answer_id}}/edit_answer" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{id}}">
    Submitted: {{answer.submission_time}}<br/>
    <p>
        <label for="message">Message:</label><br/>
        <textarea id="message" name="message" rows="4" cols="50">{{answer.message}}</textarea>
    </p>
    
    <button class="add-your-answer" type="submit">Edit your answer</button>
    <form action="{{url_for('route_question', id = id)}}" enctype="multipart/form-data">
        <button class="add-your-answer" type="submit">Go back</button>
    </form>
</form>
    
{% endblock %}
