{% extends "layout.html" %}
{% block content %}
    <div class="question-list question-txt dflex justify-content-center">
        <form action="/ask-question" method="POST" class="form">
            <p>
                <label for="title" class="form-txt">Login</label><br/>
                <input id="login" class="form-control" name="title" type="text" value="" />
            </p>
            <p>
                <label class="form-txt" for="password">Password</label><br/>
                <input id="password" class="form-control" name="password" type="password" value="" />
            </p>
            <p class="text-center">
                <button class="btn btn-success" type="submit">Enter</button>
            </p>
        </form>
    </div>
{% endblock %}