{% extends "layout.html" %}
{% block content %}
    <div class="question-list question-txt ">
        <form action="/question/{{id}}/new-comment" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value={{id}}>
        <p>
            <label class="message" for="message">Comment:</label><br/>
            <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </p>
        <button class="add-your-answer" type="submit">Add your comment to question</button>
        </form>
    </div>
{% endblock %}