{% extends "layout.html" %}
{% block content %}
<h4>Users list</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Username
                </th>
                <th scope="col">
                    Registration date
                </th>
                <th scope="col text-center">
                    Question asked
                </th>
                <th scope="col text-center" >
                    Answers given
                </th>
                <th scope="col text-center">
                    Comments
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td scope="row">{{ user['login'] }}</h>
                <td>{{ user['registration_date'] }}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}